.shared {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  border: 4px;
  border-radius: 5px;
  width: 500px;
  padding: 5px;
  color: white;
  text-align: center;
}
.warning {
  composes: shared;
  background-color: #ffd630;
  border-color: #a48f38;
}

.info {
  composes: shared;
  background-color: #23b95b;
  border-color: #297746;
}

.error {
  composes: shared;
  background-color: #ff7c61;
  border-color: #fb4620;
}
